canvas {
    image-rendering: auto;
    image-rendering: crisp-edges;
    image-rendering: pixelated
}

canvas.active {
    position: fixed;
    z-index: 999;
    bottom: 0;
    right: 0;
}

button.button-onlyfans {
    transition: all .15s ease-out
}

button:active {
    transform: scale(.95);
    opacity: .5
}

audio {
    position: absolute;
    width: 0;
    height: 0;
    visibility: hidden
}

@keyframes Cue-In {
    0% {
        opacity: 0;
        transform: scale(.1) rotateX(45deg)
    }
    to {
        transform: scale(1) rotateX(0)
    }
}

.cue-in {
    animation: Cue-In 2s ease-in-out
}

/*
    Copyright Matías Martínez
    From:
*/
