canvas {
    image-rendering: auto;
    image-rendering: crisp-edges;
    image-rendering: pixelated
}

.active {
    position: fixed;
    z-index: 999;
    bottom: 0;
    right: 0;
}

button.button-onlyfans {
    transition: all .15s ease-out
}

button:active {
    transform: scale(.95);
    opacity: .5
}

audio {
    position: absolute;
    width: 0;
    height: 0;
    visibility: hidden
}

@keyframes Cue-In {
    0% {
        opacity: 0;
        transform: scale(.1) rotateX(45deg)
    }
    to {
        transform: scale(1) rotateX(0)
    }
}

.cue-in {
    animation: Cue-In 2s ease-in-out
}

/*
    Copyright Matías Martínez
    From: https://matias.ma/nsfw/
*/

.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;
}
.overlay[data-enabled=""] {
    visibility: visible;
    opacity: 1;
}

.popup {
    margin: 70px auto;
    padding: 20px;
    background: #fff;
    border-radius: 5px;
    width: 30%;
    position: relative;
    transition: all 5s ease-in-out;
}

.popup h2 {
    margin-top: 0;
    color: #333;
    font-family: Tahoma, Arial, sans-serif;
}
.popup .close {
    position: absolute;
    top: 20px;
    right: 30px;
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: #333;
}
.popup .close:hover {
    color: #06D85F;
}
.popup .content {
    max-width: 700px;
    text-align: center;
    color: black;
    max-height: 30%;
    overflow: auto;
}

@media screen and (max-width: 700px){
    .box{
        width: 70%;
    }
    .popup{
        width: 70%;
    }
}
